.view_example  {
margin:20px;
top: 130px;
height:100px;
width:100px;
border-style:none;	
border-width:1px;	
cursor:pointer;
}
.view_example#son1 {
color:yellow;
}

.view_example #titre {
color:blue;
cursor:pointer;
}

.view_example #cursor {
height:5px;
width:10px;
background:red;
color:blue;
cursor:pointer;
text-align:center;
}
#view2 {
width:600px;
}
#minus {
height:20px;
width:20px;
background:yellow;
text-align:center;
}
#view3 {
margin: 0px auto;
width:600px;
}

#view2 #cursor  {
background:pink;
}
#view3 {
	visibility : hidden;
} 