<!doctype html>
<html lang="fr" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Simple MVC Model demo</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css">
    <style>
.minimized > ul > li { display:none; }
.minimized > ul {   border: 0 none transparent; }
.toggle { border: 0 none transparent; background:transparent; width:2em; color:#aaa; }
button { cursor: pointer }
    </style>
</head>
<body>

    <div class="container" data-ng-controller="TreeController">
        <h1>Démo arbre</h1>
        <input type="button" class="btn" value="redraw" onclick ="vnode.draw()" >
        <input type="button" class="btn" value="undo" ng-click="undo(path.history)" >
        <input type="button" class="btn" value="redo" onclick ="redo()" >
        <div class="row">
            <div class="span4">
                <div class="well" id="zone">
                    <h4>{{ path.name }}</h4>
                    <ul>
                        <li ng-repeat="activity in path.activities" ng-include="'app/partials/tree-item.html'"></li>
                    </ul>
                </div>
            </div>
            <div class="span4">
                <div class="well" id="situation"></div>
            </div>
            <div class="span4">
                <div class="span4" id="json">

                </div>
            </div>
        </div>
        <div >
            <div class="well">

            </div>
            <pre id="myJson">{{ path | json}}</pre>
            <pre>{{ path.history }}</pre>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"></script>
    <!--<script src="js/Node.js"></script>-->

    <script>

        var app = angular.module('app', ['$strap.directives']);

        function MyController($scope, $http){
            $scope.children = myNode2.toJSON();
        }

        app.controller('MyController', MyController);

        app.controller("TreeController", ['$scope', '$http', function($scope, $http) {

            // $scope.toggleMinimized = function (child) {
            //     child.minimized = !child.minimized;
            // };

            $http.get('tree.json')
                .success(function(json) {
                    $scope.path = json[0];
                    //$scope.path = "titi"; --> On retrouve aussi titi au lieu de la surcharge toto ce dessous
                }
            );


            /*LA RACINE DE TOUT NOS PROBLEMES VIENT D'ICI*/
            /*Pourqui la methode précedante ne peut pas etre surchargé ??? WTF! */


            $scope.path = "toto";


            $scope.undo = function (id) {
                //console.log(id);
                $http.post('api/index.php/pathversions/undo/' + id) //TODO prefix path comme dans la video d'angular
                    .success(function(json) {
                        $scope.history = json[0]["history"]
                    }
                );
                
            }

            $scope.remove = function (activity) {
                // TODO
                activity.children = [];
            }

            $scope.removeChildren = function(activity) {
                activity.children = [];
            };

            $scope.addChild = function(activity) {
                var post = activity.children.length + 1;
                var newName = activity.name + '-' + post;
                activity.children.push({name: newName, children: []});

                // C'est Moche mais ca marche
                $scope.path = $('#myJson').html();
                
                $scope.updateDB($scope.path);
            };

            $scope.updateDB = function(json) {
                $http.post('api/index.php/pathversions', json) //TODO prefix path comme dans la video d'angular
                    .success(function(json) {
                        $scope.path = json;
                        alert($scope.path);
                    }
                );
            }
        }]);

    </script>

    <script>

        /**************************************************************************/
        // TEST

        /*var myNode = new Node('My Node', '', 'par');
        var myNode2 = new Node('My Node 2', '', 'par');
        var myNode3 = new Node('My Node 3', '', 'seq');
        var myNode4 = new Node('My Node 4', '', 'seq');
        var myNode5 = new Node('My Node 5', '', 'seq');

        myNode.id = 1;
        myNode2.id = 2;
        myNode3.id = 3;
        myNode4.id = 4;
        myNode5.id = 5;

        myNode2.parent = myNode;
        myNode.addChild(myNode2);

        myNode3.parent = myNode2;
        myNode2.addChild(myNode3);

        myNode4.parent = myNode2;
        myNode2.addChild(myNode4);

        myNode5.parent = myNode2;
        myNode2.addChild(myNode5);

        myNode2.removeChild(5);*/

        // console.log(myNode2.toJSON());
        // console.log(myNode5.toJSON());
        // console.log(myNode2.id);













        /************************** UTILITY *****************************/

        function dump(obj) {
            var out = '';
            for (var i in obj) {
                out += i + ": " + obj[i] + "\n";
            }

            alert(out);

            // or, if you wanted to avoid alerts...

            var pre = document.createElement('pre');
            pre.innerHTML = out;
            document.body.appendChild(pre)
        }



    </script>

</body>
</html>
